h1,h2,h3,h4,h5,p,li
{
  font-family: sans-serif;
}
h1
{
  color:blue;
  font-size: 30px;
  text-transform: uppercase; 
  font-style: italic;
}
h2
{
   color:blue;
  font-size: 40px;
 }
h3
{
   color:blue;
  font-size: 38px;
  }
 h4
{
   color:blue;
  font-size: 35px;
 text-transform: uppercase;
  }
 h5
{
  font-size: 33px;
 text-transform: uppercase;
  }
 p
{ 
 font-size: 22px;
 line-height:1.5;
}
li
{
  font-size: 20px;
  }
footer p
{
  font-size:15px;
}
#author
{
  font-style:italic;
  font-size: 18px;
}
.related-author
{
  font-size: 18px;
  font-weight: bold;
}
.related
{
  list-style: none;
}
