
*
{
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,p,li
{
  font-family: sans-serif;
  color: #444;
}
h1
{
  color:green;
  font-size: 30px;
  text-transform: uppercase; 
  font-style: italic;
}
h2,h3,h4,h5
{
  color: blue;
}
h2
{
 font-size: 40px;
 }
h3
{
  font-size: 30px;
  }
 h4
{
   color:blue;
  font-size: 28px;
 text-transform: uppercase;
  }
 h5
{
  font-size: 25px;
 text-transform: uppercase;
  }
 p
{ 
 font-size: 19px;
 line-height:1.5;
}
li
{
  font-size: 18px;
  margin-bottom: 10px;
  }
li:last-child
  {
    margin-bottom:0;
}
footer p
{
  font-size:15px;
  color:red;
}
#author
{
  font-style:italic;
  font-size: 18px;
}
.related-author
{
  font-size: 18px;
  font-weight: bold;
}
.related
{
  list-style: none;
}
.main
{
  background-color: #f7f7f7;
}
aside
{
  background-color: #f7f7f7;
  border:5px solid blue;
}
 li:first-child 
{
  font-weight: bold;
}


li:nth-child(even)
{
  color:orange;
}
a:link
{
  color:red;
  text-decoration: none;
}
a:visited
{
  color: green;
}
a:hover
{
  color:orangered;
  font-weight:bold;
   text-decoration: underline orangered;
}
a:active
{
  color: black;
  font-style: italic;
}

  
  
