
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body
{
  position: relative;
}
.container
{
  width:1200px;
  margin-left:auto;
  margin-right:auto;
}
h1,h2,h3,h4,h5,p,li
{
  font-family: sans-serif;
  color: #444;
}
article
{
  margin-bottom:60px;
}
h1
{
  color:green;
  font-size: 30px;
  text-transform: uppercase; 
  font-style: italic;
}
h1::first-letter
{
font-style:normal;
margin-right:5px;
}

h2,h3,h4,h5
{
  color: blue;
}
h2
{
 position:relative;
 font-size: 40px;
 }
h2::after
{
  content:"TOP";
  color:black;
  background-color: yellow;
  font-size:16px;
  font-weight:bold;
  display:inline-block;
  padding: 5px, 10px;
  color:black;
  position:absolute;
  top:-10px;
  right:-25px;
}
 
h3
{
  font-size: 30px;
  }
 h4
{
   color:blue;
  font-size: 28px;
 text-transform: uppercase;
  }
 h5
{
 font-size: 25px;
 text-transform: uppercase;
 text-align:center;
  margin-bottom:30px;
  }
 p
{ 
 font-size: 19px;
 line-height:1.5;
  text-align:justify
}
ul,ol
{
  margin-left:5opx;
  margin-bottom: 20px;
}

li
{
  font-size: 18px;
  margin-bottom: 10px;
  }
li:last-child
  {
    margin-bottom:0;
}
footer p
{
  font-size:15px;
  color:red;
}
#author
{
  font-style:italic;
  font-size: 18px;
  margin-bottom:0;
  margin-left:20px;
}
.related-author
{
  font-size: 14px;
  font-weight: Normal;
  margin-bottom:0;
  font-style: italic;
}
.related
{
  list-style: none;
  margin-left:0;
}
.main
{
  background-color: #f7f7f7;
}
aside
{
  background-color: cyan;
  border-top:5px solid black;
  border-bottom:5px solid black;
  padding: 50px,40px;
  
}
 li:first-child 
{
  font-weight: bold;
}

li:nth-child(even)
{
  color:orange;
}
a:link
{
  color:blue;
  text-decoration: none;
}
a:visited
{
  color: green;
}
a:hover
{
  color:red;
  font-weight:bold;
   text-decoration: underline orangered;
}
a:active
{
  color: black;
  font-style: italic;
}
button
{
  font-size:20px;
  padding:20px;
  cursor: pointer;
  position: absolute;
  bottom:50px;
  right:50px;
}
nav a:link
{
  margin-right:30px;
  display: inline-block;
  
}
  /*using float
.author-img
{
  float:left;
  margin-bottom: 40px;
}
.author
{
  float: left;
  margin-top:10px;
  margin-left:20px;
  }
h1
{
  float:left;
}
nav
{
  float:right;
}
  
.clearfix::after
{
  clear:both;
  content:" ";
  display:block;
}
article
{
  width:850px;
  float:left;
}
aside
{
  width:300px;
  float:right;
  }
footer
{
  clear: both;
}
*/

/* using flexbox*/
  
.main
{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.author-box
{
  display:flex;
  align-items:center;
  margin-bottom:30px;
}

.related-post
{
  display:flex;
  align-items: center;
  gap:20px;
  margin-bottom:30px;
}

.related-link
{
  font-size:17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.row
{
  display:flex;
}
article
{
  flex: 0 0 825px;
}
aside
{
  flex:0 0 300px;
}
