h1,h2,h3,h4,h5,p,li
{
  font-family: sans-serif;
  color: #444;
}
h1
{
  color:green;
  font-size: 30px;
  text-transform: uppercase; 
  font-style: italic;
}
h2,h3,h4,h5
{
  color: blue;
}
h2
{
 font-size: 40px;
 }
h3
{
  font-size: 38px;
  }
 h4
{
   color:blue;
  font-size: 35px;
 text-transform: uppercase;
  }
 h5
{
  font-size: 33px;
 text-transform: uppercase;
  }
 p
{ 
 font-size: 22px;
 line-height:1.5;
}
li
{
  font-size: 20px;
  }
footer p
{
  font-size:15px;
}
#author
{
  font-style:italic;
  font-size: 18px;
}
.related-author
{
  font-size: 18px;
  font-weight: bold;
}
.related
{
  list-style: none;
}
.main
{
  background-color: #f7f7f7;
}
aside
{
  background-color: #f7f7f7;
  border:5px solid blue;
}
 li:first-child 
{
  font-weight: bold;
}
 li:last-child 
{
  font-weight: bold;
}

li:nth-child(even)
{
  color:cyan;
}
a:link
{
  color:red;
  text-decoration: none;
}
a:hover
{
  color:orangered;
  font-weight:bold;
   text-decoration: underline orangered;
}
a:active
{
  color: black;
  font-style: italic;
}

  
  
