
*
{
  margin:0;
  padding:0;
}
body
{
  position: relative;
}
.container
{
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
h1,h2,h3,h4,h5,p,li
{
  font-family: sans-serif;
  color: #444;
}
article
{
  margin-bottom:60px;
}
h1
{
  color:green;
  font-size: 30px;
  text-transform: uppercase; 
  font-style: italic;
}
h1::first-letter
{
font-style:normal;
margin-right:5px;
}

h2,h3,h4,h5
{
  color: blue;
}
h2
{
 position:relative;
 font-size: 40px;
 }
h2::after
{
  content:"TOP";
  color:black;
  background-color: yellow;
  font-size:16px;
  font-weight:bold;
  display:inline-block;
  padding: 5px, 10px;
  color:black;
  position:absolute;
  top:-10px;
  right:-25px;
}
 
h3
{
  font-size: 30px;
  }
 h4
{
   color:blue;
  font-size: 28px;
 text-transform: uppercase;
  }
 h5
{
  font-size: 25px;
 text-transform: uppercase;
  }
 p
{ 
 font-size: 19px;
 line-height:1.5;
}
ul,ol
{
  margin-left:5opx;
  margin-bottom: 20px;
}

li
{
  font-size: 18px;
  margin-bottom: 10px;
  }
li:last-child
  {
    margin-bottom:0;
}
footer p
{
  font-size:15px;
  color:red;
}
#author
{
  font-style:italic;
  font-size: 18px;
}
.related-author
{
  font-size: 18px;
  font-weight: bold;
}
.related
{
  list-style: none;
}
.main
{
  background-color: #f7f7f7;
}
aside
{
  background-color: #f7f7f7;
  border:5px solid cyan;
  padding: 50px,0;
  width: 500px
  
}
 li:first-child 
{
  font-weight: bold;
}

li:nth-child(even)
{
  color:orange;
}
a:link
{
  color:red;
  text-decoration: none;
}
a:visited
{
  color: green;
}
a:hover
{
  color:orangered;
  font-weight:bold;
   text-decoration: underline orangered;
}
a:active
{
  color: black;
  font-style: italic;
}
button
{
  font-size:20px;
  padding:20px;
  cursor: pointer;
  position: absolute;
  bottom:50px;
  right:50px;
}
nav a:link
{
  display: inline-block;
  margin-right:30px;
  margin-left:10px;
}
  
.author-img
{
  float:left;
  margin-bottom:50px;
  }
.author
{
 /* padding-left:100px;*/
  float: left;
  margin-top:10px;
  margin-left:20px;
  }

  
